@model IEnumerable<AlunoModel>

<div class="container">
	<div class="d-flex justify-content-between align-items-center mb-5">
		<h1>Alunos</h1>
		<a class="btn btn-success mx-2" asp-controller="Aluno" asp-action="Cadastro">Cadastrar novo Aluno</a>
	</div>

	<table class="table table-stripped table-dark">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">CPF</th>
				<th scope="col">Telefone</th>
				<th scope="col">Email</th>
				<th scope="col">Ação</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null)
			{
				@foreach (var aluno in Model)
				{
					<tr>
						<th scope="row">@aluno.Id</th>
						<td>@aluno.Name</td>
						<td>@aluno.CPF</td>
						<td>@aluno.telefone</td>
						<td>@aluno.email</td>
						<td>
							<a asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id" class="btn btn-warning mx-2">Editar</a>
							<a asp-controller="Aluno" asp-action="Excluir" asp-route-id="@aluno.Id" class="btn btn-danger mx-2">Excluir</a>
						</td>
					</tr>
				}
			}	
		</tbody>
	</table>
</div>



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
